.body {
  background-color: aquamarine;
  width: 0;
  height: 100vh;
  padding: 0;
}

img {
  width: 50%;
  height: 50%;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
